<div class="usa-grid sign-up">
  <div class="sign-up-wrapper">
    <h1>Welcome to NYC Open Bid</h1>

    <div class="usa-font-lead">
      Hello, <%= current_user.name %>! It looks like you're new around here.
      Please take a moment to read the following information (which can also be
      found in our <%= link_to 'docs', page_path('docs') %> page).
    </div>

    <div class="sign-up-list">
      <h3>How it works</h3>

      <p>
      We provide an overview of how things work on our <%= link_to 'about page',
      page_path('about') %>, but some of the specific aspects of winning an auction,
      delivering work, and collecting payment are covered on our <%= link_to 'policies page',
      page_path('policies') %>
      </p>

      <h3>Placing a bid</h3>
      <p>
      To place a bid you'll need to obtain an FMS ID from the City of New York.
        If you haven't don't have one, don't despair!
        You can navigate to New York City's <a href="https://a127-pip.nyc.gov/webapp/PRDPCW/SelfService">Payee Information Portal</a> to create one.
      </p>

      <h3>Getting paid</h3>
      <p>
      You're probably going to want to get paid for your awesome work. Here's
      <%= link_to 'a short guide', page_path('docs/getting_paid') %> on how to
      do that.
      </p>
    </div>

    <%= link_to 'Continue', profile_path, class: 'usa-button usa-button-outline' %>
  </div>
</div>
