<div class="usa-grid">
  <%= render partial: 'admin/people_subnav', locals: { view_model: @view_model } %>

  <table class="usa-table-borderless" id="table-users">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email address</th>
        <th scope="col">FMS #</th>
        <th scope="col">M/WBE</th>
        <th scope="col">FMS status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @view_model.users.each do |user| %>
        <tr>
          <td><%= link_to user.name, admin_user_path(user.id) %></td>
          <td><%= user.email %></td>
          <td><%= user.fms_number %></td>
          <td><%= user.is_mwbe %></td>
          <td><%= user.admin_fms_status %></td>
          <td><%= render partial: user.masquerade_partial, locals: { user: user } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
